
ul {
	list-style-type: : none;
}

body {
	background: url(QK8UF7C718.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

